{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<DOCTYPE html>
<html lang="en">
	<head>
		<title>Status</title>
	</head>
	<body>
		{% block content %}
		<div class="head">
			<div class="container p-5 text-lg-center">
				<h1>Hello, apa kabar?</h1>
			</div>
		</div>

		<div class="container p-5" id="form-container">
			<div class="Form">
				<div class="form-group">
					<form id="form" method="POST" action="{% url 'add-status' %}">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
						<br>
					</form>
				</div>
			</div>
		</div>

		<div class="container p-5" id="status-container">
			<h2><strong>Recent posts</strong></h2>
			{% if status %}
				{% for data in status %}
					<div class="container">
						<div class="row">
							<strong>{{data.author}}</strong>
						</div>
						<div class="row">
							{{data.status}}
						</div>
						<div class="row">
							<i>{{data.created_date|date:"H:i, j F Y"}}</i>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<h4>It's a little lonely down here...</h4>
			{% endif %}
		</div>
		{% endblock %}
	</body>
</html>