{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Subscribe</title>
	</head>

	<body>
		{% block content %}
		<div class="container p-5">
			<h2><strong>Subscribe</strong></h2>

			<div class="Form">
				<div class="form-group">
					<form id="form" method="POST" action="{% url 'subscribe' %}">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-primary my-3">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
		{% endblock content %}
	</body>
</html>