{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}
	<title>Login</title>
	{% endblock title %}
</head>
<body>
	{% block content %}
	<div class="container p-5">
		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
	</div>
	{% endblock content %}
</body>
</html>