body {
	font-family: 'Maven Pro', sans-serif;
}

#main-content {
	display: none;
}

#star {
	cursor: pointer;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	border: 5px solid #f2f2f2f2;
	border-radius: 50%;
	border-top: 5px solid #0575e6;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.nightmode {
	background: black;
	color: white;
}

.accordion-toggle {
	cursor: pointer;
	background: #0575e6; /* fallback for old browsers */
	color: white;
	border-radius: 10px;
}

.accordion-content {
	display: none;
}

.accordion-content.default {
	display: block;
}

header {
  	background: #0575e6; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to top, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to top, #0575e6, #021b79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	color: white;
}

footer {
	background: #0575e6; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to bottom, #0575e6, #021b79); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to bottom, #0575e6, #021b79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  	color: white;	
}

#selfpic {
	height: 220px;
	width: 220px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 24px;
}

#projectpic {
	height: auto;
	width: 200px;
	border-radius: 1.25%;
}